<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huawei.instructionstream.appui"
    >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.huawei.instructionstream.appui.CGPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/cloudphone_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cloudphone_icon"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme"
        tools:replace="icon,roundIcon,label,allowBackup"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.huawei.instructionstream.appui.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/vmi_title_activity_fullscreen"
            android:process=":remote"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity android:name="com.huawei.instructionstream.appui.DirectConnectActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity">

        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${provider_name}"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>



</manifest>
